<div class="user-details">
  <h1>About Me</h1>
  <p>I am a twenty year old, male, Dutch</p>
  <h1>My Expertise</h1>
  <p>
    I have been developing software since 2016. In high school I learned myself
    to code native iOS and Flutter apps. At the moment I'm in my third year
    towards a bachelors in computer science at Windesheim. During my studies
    I've learned to work Agile using Scrum
  </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Design</h2>
    <i class="devicon-html5-plain-wordmark"></i>
    <i class="devicon-bootstrap-plain-wordmark colored"></i>
    <i class="devicon-sass-original colored"></i>
    <p>
      Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia
      master cleanse. Vinyl XOXO lumbersexual
    </p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-javascript-plain colored"></i>
    <i class="devicon-react-original-wordmark colored"></i>
    <i class="devicon-nodejs-plain-wordmark"></i>
    <p>
      Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia
      master cleanse. Vinyl XOXO lumbersexual
    </p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain"></i>
    <i class="devicon-gulp-plain colored"></i>
    <i class="devicon-atom-original-wordmark"></i>
    <p>
      Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia
      master cleanse. Vinyl XOXO lumbersexual
    </p>
  </div>
</div>
