<div id="header-background">
  <canvas class="particles-js"></canvas>
  <div class="header">
    <img alt="Bart van Zeist" class="selfie" src="{{ "/assets/img/bart.jpg" | prepend:
    site.baseurl }}" />
    <h1 style="margin-top: 0; padding-top: 0">
      <span class="site-title">{{site.username}}</span>
      <span class="site-description">{{site.user_title}}</span>
    </h1>
    <div class="header-icons">
      <a aria-label="Send email" href="mailto:bartvanzeist2000@gmail.com"
        ><i class="icon fa fa-envelope"></i
      ></a>
      <a
        aria-label="My LinkedIn"
        target="_blank"
        rel="noreferrer"
        href="https://www.linkedin.com/in/bart-van-zeist-543442193"
        ><i class="icon fa fa-linkedin"></i
      ></a>
      <a aria-label="My Github"
         target="_blank"
         rel="noreferrer"
         href="https://github.com/BPHvZ"
        ><i class="icon fa fa-github-alt" aria-hidden="true"></i
      ></a>
    </div>
    <div class="header-links">
      <a class="link" href="#about" data-scroll>About Me</a>
      <a class="link" href="#projects" data-scroll>Projects</a>
    </div>
  </div>
  <a class="down" href="#about" data-scroll aria-label="Scroll to about section"><i
      class="icon fa fa-chevron-down"
      style="height: unset"
      aria-hidden="true"
    ></i
  ></a>
</div>
