<div class="user-details">
  <h1>Featured Projects</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="spaCy" src="{{ "/assets/img/spacy.jpg" | prepend:
    site.baseurl }}" />
    <img alt="spaCy" src="{{ "/assets/img/scikit-learn.jpg" | prepend:
    site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Content analyser</h3>
    <ul>
      Skills
      <li>Natural Language Processing</li>
      <li>Text Categorisation using Machine Learning</li>
      <li>Python</li>
      <li>Jira</li>
      <li>GitLab CI</li>
    </ul>
    <p>
      During an internship, I worked on a system that could categorise news articles.
      The purpose of this system was to determine the relevance of articles and build a newsfeed.
      I used a Multilabel k Nearest Neighbours (MLkNN) classification model to train and determine categories of an article.
      The dataset used for training this model was preprocessed using the Natural Language Processing library, spaCy.
    </p>
    <p>
      <img
        alt="Slack"
        src="https://img.shields.io/badge/-Slack-4a154b?style=flat-square&logo=slack&logoColor=white"
      />
      <img
        alt="Scikit-learn"
        src="https://img.shields.io/badge/-Scitkit learn-f7931e?style=flat-square&logo=scikit-learn&logoColor=black"
      />
      <img
        alt="Jira"
        src="https://img.shields.io/badge/-Jira-0052cc?style=flat-square&logo=jira&logoColor=white"
      />
      <img
        alt="Python"
        src="https://img.shields.io/badge/-Python-3776ab?style=flat-square&logo=python&logoColor=white"
      />
    </p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Angular" src="{{ "/assets/img/angular.png" | prepend: site.baseurl
    }}" />
  </div>
  <div class="contents-right">
    <h3>Dietitian Web Application</h3>
    <ul>
      Skills
      <li>Importance of UI/UX</li>
      <li>Angular</li>
    </ul>
    <p>
      During an internship at <a target="_blank" href="https://www.pinkroccade-healthcare.nl/">PinkRoccade</a>,
      I rebuild a desktop application to an Angular web application. I learned a lot about UI/UX and Angular.
    </p>
    <p>
      <img
        alt="Bootstrap"
        src="https://img.shields.io/badge/-Bootstrap-7952b3?style=flat-square&logo=bootstrap&logoColor=white"
      />
      <img
        alt="angular"
        src="https://img.shields.io/badge/-Angular-DD0031?style=flat-square&logo=angular&logoColor=white"
      />
      <img
        alt="npm"
        src="https://img.shields.io/badge/-NPM-CB3837?style=flat-square&logo=npm&logoColor=white"
      />
      <img
        alt="CSS3"
        src="https://img.shields.io/badge/-CSS3-1572b6?style=flat-square&logo=css3&logoColor=white"
      />
      <img
        alt="TypeScript"
        src="https://img.shields.io/badge/-TypeScript-3178c6?style=flat-square&logo=typescript&logoColor=white"
      />
      <img
        alt="Jira"
        src="https://img.shields.io/badge/-Jira-0052cc?style=flat-square&logo=jira&logoColor=white"
      />
      <img
        alt="MySQL"
        src="https://img.shields.io/badge/-MySQL-4479a1?style=flat-square&logo=mysql&logoColor=white"
      />
    </p>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="C# .NET" src="{{ "/assets/img/dot-net.png" | prepend:
    site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Spotify Windows application</h3>
    <ul>
      Skills
      <li>WPF</li>
      <li>C#</li>
      <li>.NET</li>
    </ul>
    <p>
      During a school project, I made a fictional Spotify competitor.
      Together with a group of 6 students, I made UpBeat: a Spotify-like, WPF Windows application.
    </p>
    <p>
      <img
        alt="Visual Studio"
        src="https://img.shields.io/badge/-Visual_Studio-5c2d91?style=flat-square&logo=visual-studio&logoColor=white"
      />
      <img
        alt=".NET"
        src="https://img.shields.io/badge/-.NET-5c2d91?style=flat-square&logo=.net&logoColor=white"
      />
      <img
        alt="Firebase"
        src="https://img.shields.io/badge/-Firebase-ffca28?style=flat-square&logo=firebase&logoColor=black"
      />
      <img
        alt="C Sharp"
        src="https://img.shields.io/badge/-C Sharp-239120?style=flat-square&logo=c-sharp&logoColor=white"
      />
      <img
        alt="NuGet"
        src="https://img.shields.io/badge/-NuGet-004880?style=flat-square&logo=nuget&logoColor=white"
      />
    </p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Frypto iOS App" src="{{ "/assets/img/frypto1.jpg" | prepend: site.baseurl
    }}" />
    <img alt="Frypto iOS App" src="{{ "/assets/img/frypto2.jpg" | prepend: site.baseurl
    }}" />
  </div>
  <div class="contents-right">
    <h3>Frypto</h3>
    <ul>
      Skills
      <li>Flutter</li>
      <li>Firebase</li>
      <li>App Deployment</li>
    </ul>
    <p>
      I created Frypto for an exam assignment in high school.
      It provided information about the values of all cryptocurrencies.
      During the summer vacation, before starting my studies,
      I expanded Frypto to become a cryptocurrency portfolio app.
      Frypto was developed using Flutter.
      <span style="font-style: italic"><br>Frypto is no longer available in the App stores.</span>
    </p>
    <p>
      <img
        alt="Swift"
        src="https://img.shields.io/badge/-Swift-fa7343?style=flat-square&logo=swift&logoColor=white"
      />
      <img
        alt="Firebase"
        src="https://img.shields.io/badge/-Firebase-ffca28?style=flat-square&logo=firebase&logoColor=black"
      />
      <img
        alt="Dart"
        src="https://img.shields.io/badge/-Dart-0175c2?style=flat-square&logo=dart&logoColor=white"
      />
      <img
        alt="Flutter"
        src="https://img.shields.io/badge/-Flutter-02569B?style=flat-square&logo=flutter&logoColor=white"
      />
    </p>
  </div>
</div>
