<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <noscript>
      <!-- Matomo Image Tracker-->
      <img referrerpolicy="no-referrer-when-downgrade" src="https://matomo.bartvanzeist.nl/matomo.php?idsite=1&amp;rec=1&amp;action_name=bartvanzeist" style="border:0" alt="" />
      <!-- End Matomo -->
    </noscript>
    {% include header.html %}
    <section id="about">{% include about.html %}</section>
    <section id="projects">{% include projects.html %}</section>
    {{ content }} {% include footer.html %}
  </body>
</html>
